.result-form {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Add transition effect for opacity */
  margin-left: 20px;
}

.result-form.show {
  opacity: 1;
}

.indent {
  margin-left: 20px;
}
.bold-label {
  font-weight: bold;
}

.result-form button {
  grid-column: span 2;
  /* Make the button span across both columns */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar-form button:hover {
  background-color: #0056b3;
}