.bar-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.bar-form label {
  font-weight: bold;
}

.bar-form input[type="number"] {
  width: calc(100% - 50px);
  /* Adjust width to leave room for padding */
  padding: 8px;
  font-size: 16px;
  margin-top: 12px;
}

.bar-form select {
  width: calc(100% - 30px);
  /* Adjust width to leave room for padding */
  padding: 8px;
  font-size: 16px;
  margin-top: 12px;
}

.bar-form button {
  grid-column: span 2;
  /* Make the button span across both columns */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.bar-form button:hover {
  background-color: #0056b3;
}

.scrollable-div {
  min-height: 320px;
  max-height: 300px;
  /* Adjust the height as needed */
  overflow-y: scroll;
  overflow: scroll;
}

.left-form {
  border-style: solid;
  border-width: 2px;
  border-color: #29a0ad;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.right-form {
  border-style: solid;
  border-width: 2px;
  border-color: #29a0ad;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  min-width: 200px;
}

.error-message {
  color: red;
  /* Color of the error message */
  font-size: 14px;
  /* Font size of the error message */
  margin-top: 5px;
  /* Top margin to create space between the error message and the button */
}

.barItem {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.barTextItem {
  width: 70%;
}


.barLenghCls {
  color: green;
  font-weight: bold;
  margin-right: 5px;
  font-size: 20px; 
}

.barNumberCls {
  color: blue;
  font-weight: bold;
  margin-left: 5px;
  font-size: 20px; 
}

.barItemBtn {
  margin-right: 10px;
}

.inputSectionCls {
  display: flex;
  margin-right: 10px; /* Adjust spacing between elements */
}
.inputSubSectionCls{
  display: flow;
  margin-right: 10px; /* Adjust spacing between elements */
}

.inputNumberCls{
  margin-left: 10px; /* Adjust spacing between elements */
  width: 100px !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  z-index: 999; /* Ensure the loading overlay is on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Blur the input form */
.blurred {
  filter: blur(5px); /* Adjust blur strength as needed */
  pointer-events: none; /* Disable pointer events to make the form unclickable */
}
.bodyCls{
  margin-top: 100px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Add transition effect for opacity */
}


.bodyCls.hide {
  opacity: 0;
}