@import url('https://fonts.googleapis.com/css?family=Cinzel');


.container {
    height: 100vh; /* Set container height to 100% of viewport height */
    /* Other container styles */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure body covers the entire viewport height */
}

header {
    background-color: white;
    color: #282A35;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.user-info {
    font-size: 0.9rem;
    float: right;
}

.user-info button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.user-info a {
    text-decoration: none !important;
    display: inline-block;
}
nav {
    background-color: #282A35;
    color: #fff!important;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

main {
    display: flex;
    flex-grow: 1; /* Grow to fill remaining space */
}

.input-section, .result-section {
    flex-grow: 1;
    padding: 5px;
}


.input-section {
    padding: 20px;
    transition: width 0.3s ease-in-out;
    background-color: #f0f0f0;
}

.splitter {
    width: 10px;
    cursor: col-resize;
    background-color: #ddd;
    position: relative;
}

.splitter button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: transform 0.3s ease; /* Add transition */

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.splitter button:hover {
    transform: translate(-50%, -50%) scale(1.3); /* Scale up on hover */
}

.splitter_left{
    display: block;
    transition: width 0.3s ease-in-out;
}


.splitter_right{
    display: none;
    transition: width 0.3s ease-in-out;
}
.result-section {
    position: relative;
    overflow: hidden;
}

.tab {
    overflow: hidden;
    /*background-color: #f0f0f0; */
    border-bottom: 1px solid #ccc;
}

.tab button {
    background-color: #ddd;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;

}

.tab button:hover {
    background-color: #ccc;
}

.tab button.active {
    background-color: #04AA6D;
}
.tabcontent {
    display: none;
    padding: 20px;
}

.tabcontent.active {
    display: block;
    padding: 20px;
}

#subToolList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#subToolList li {
    display: inline;
    margin-right: 10px;
}

#subToolList a {
    text-decoration: none;
    color: #fff!important;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#subToolList a:hover {
    background-color: #000000 !important;
}

#subToolList a.selected {
    background-color: #04AA6D!important;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    margin-top: auto; /* Push footer to the bottom */
}


.user-info {
    font-size: 0.9rem;
    float: right;
    position: relative; /* Make it relative to position the dropdown */
}

.userDropdown {
    display: none; /* Hide dropdown by default */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px; /* Add rounded corners */

}

.user-info .active {
    display: block;
}


#userDropdown a {
    color: #333;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 5px; /* Add rounded corners */
}

#userDropdown a:hover {
    background-color: #ddd;
}










.tnb-signup-btn {
    position: relative;
    border-radius: 25px;
    z-index: 5;
    margin-left: 0;
    white-space: normal;

    padding: 8px 16px;
    width: auto;
    border: none;
    display: block;
    outline: 0;

    background-color: #04AA6D !important;
    color: white !important;

    float: right !important;
}


.logo-holder {
    text-align: center;
}

.logo-holder a {
    text-decoration: none !important;
    display: inline-block;
}

.logo-6 h3 {
    color: #e74c3c;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
}

.logo-6 h3 span {
    background: #e74c3c;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
    padding: 0 16px;
}